<div class='text-center'>
 <%= form_with model: @todo, local:true do |f| %>
    <h3><%= f.label :Titulo_del_Todo %></h3>
    <%= f.text_field :description %>
    <br>
    <br>
    <%= f.submit('Agregar Todo', class: "btn btn-outline-info btn-lg btn-block")%>

<% end %>
</div>